<!-- <h3>Angular project 6 version</h3>

<form (ngSubmit)="search()">

<input [(ngModel)]="source" type="text" >
<input [(ngModel)]="destination" type="text">
<input type="submit" value="search">
</form>


<br>


<div class="row">
<div class="col-sm-6">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31108.245069955243!2d80.2479542423647!3d12.937860734848147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526691b4b79c29%3A0xc6c3cf2a94da9fa3!2sOggiam%20thoraipakkam%20Post%20Office!5e0!3m2!1sen!2sin!4v1586791105092!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


<div class="col-sm-6">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.569662024846!2d80.22428631413422!3d12.871048220560803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ba3e1c0252d%3A0xabdfdbd2fbf6e92f!2sSatyabhama%20University!5e0!3m2!1sen!2sin!4v1586792466569!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>

</div> -->







<div class="container">
    <ul class="nav nav-tabs">
        <li><a routerLink="/login">Log in</a></li>
        <li><a routerLink="/reactive" >Reactive Forms</a></li>
        <li><a routerLink="/template" >TemplateDriven Forms</a></li>
        <li><a routerLink="/localStorage" >Local Storage</a></li>
        <li><a routerLink="/checkBoxFilter">Angular Tasks</a></li>
    </ul>

</div>




<router-outlet></router-outlet>